<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Today</h1>
    <% date_to_string = Date.today.strftime("%A, %B %d, %Y") %>
    <p><%= "The date is " + date_to_string%></p>
  </body>
</html>