<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>The date is</h2>
    <p><%= Date.today.strftime("%A, %B %d, %Y") %></p>
  </body>
</html>
